In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Here is a brief description of each feature in the Adani Port dataset:

Date: The trading date in YYYY-MM-DD format.

Symbol: The ticker symbol representing the Adani Port company on the stock exchange.

Series: The market segment or category of the stock (e.g., EQ for equity shares).

Prev Close (Previous Close): The closing price of the stock on the previous trading day.

Open: The price at which the stock started trading at the beginning of the trading day.

High: The highest price at which the stock traded during the day.

Low: The lowest price at which the stock traded during the day.

Last: The last recorded trading price of the stock for the day.

Close: The closing price of the stock at the end of the trading day.

VWAP (Volume Weighted Average Price): The average price of the stock traded throughout the day, weighted by volume. It provides a more accurate measure of the stock's average price.

Volume: The total number of shares traded during the day.

Turnover: The total monetary value of the shares traded during the day (typically in the currency of the market, such as INR).

Trades: The total number of transactions or trades executed during the day.

Deliverable Volume: The number of shares that were actually delivered to the buyers after trading.

% Deliverable: The percentage of the traded shares that were delivered to the buyers, calculated as (Deliverable Volume / Volume) * 100.

In [2]:
df = pd.read_csv("ADANIPORTS.csv")

In [3]:
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.0,959.0,962.90,984.72,27294366,2.687719e+15,NaN,9859619,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.0,885.0,893.90,941.38,4581338,4.312765e+14,NaN,1453278,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.0,887.0,884.20,888.09,5124121,4.550658e+14,NaN,1069678,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.0,929.0,921.55,929.17,4609762,4.283257e+14,NaN,1260913,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.0,980.0,969.30,965.65,2977470,2.875200e+14,NaN,816123,0.2741

In [4]:
df.shape

(3322, 15)

## DEFAULT TIME PERIOD IS 14 DAYS

In [5]:
period = 14

In [6]:
#We Find Here Lowest Low And Highest High

df['Lowest Low'] = df['Low'].rolling(window=period).min()
df['Highest High'] = df['High'].rolling(window=period).max()

In [7]:
df.tail(15)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,Lowest Low,Highest High
3307,2021-04-08,ADANIPORTS,EQ,814.75,818.00,838.00,806.00,824.00,823.00,823.05,34025873,2.800488e+15,403689.0,2295493,0.0675,657.10,885.0
3308,2021-04-09,ADANIPORTS,EQ,823.00,824.75,837.00,817.05,822.20,823.60,827.17,21804785,1.803621e+15,265700.0,2372060,0.1088,657.10,885.0
3309,2021-04-12,ADANIPORTS,EQ,823.60,809.90,809.90,735.00,750.00,744.65,762.16,28112240,2.142610e+15,422020.0,2654132,0.0944,681.00,885.0
3310,2021-04-13,ADANIPORTS,EQ,744.65,750.00,755.75,701.35,733.10,731.05,723.89,52812517,3.823031e+15,655274.0,8937704,0.1692,683.15,885.0
3311,2021-04-15,ADANIPORTS,EQ,731.05,735.90,754.50,725.00,747.00,750.35,740.39,26108614,1.933065e+15,335056.0,1749254,0.0670,683.15,885.0
3312,2021-04-16,ADANIPORTS,EQ,750.35,750.90,794.85,743.00,749.15,755.50,770.01,41791181,3.217944e+15,499686.0,3455564,0.0827,683.15,885.0
3313,2021-04-19,ADANIPORTS,EQ,755.50,715.00,730.90,707.45,719.00,720.95,721.84,22935238,1.655552e+15,290362.0,3547157,0.1547,692.60,885.0
3314,2021-04-20,ADANIPORTS,EQ,720.95,744.70,745.90,710.00,721.00,720.45,729.05,21315167,1.553978e+15,243616.0,2001506,0.0939,697.30,885.0
3315,2021-04-22,ADANIPORTS,EQ,720.45,689.50,744.90,689.50,736.45,737.80,727.53,26840536,1.952728e+15,325317.0,2446278,0.0911,689.50,885.0
3316,2021-04-23,ADANIPORTS,EQ,737.80,736.45,746.90,720.10,725.10,725.35,733.59,18435449,1.352401e+15,204435.0,1361968,0.0739,689.50,885.0
3317,2021-04-26,ADANIPORTS,EQ,725.35,733.00,739.65,728.90,729.20,730.75,733.25,9390549,6.885658e+14,116457.0,838079,0.0892,689.50,885.0
3318,2021-04-27,ADANIPORTS,EQ,730.75,735.00,757.50,727.35,748.60,749.15,747.67,20573107,1.538191e+15,236896.0,1779639,0.0865,689.50,885.0
3319,2021-04-28,ADANIPORTS,EQ,749.15,755.00,760.00,741.10,743.40,746.25,751.02,11156977,8.379106e+14,130847.0,1342353,0.1203,689.50,885.0
3320,2021-04-29,ADANIPORTS,EQ,746.25,753.20,765.85,743.40,746.40,746.75,753.06,13851910,1.043139e+15,153293.0,1304895,0.0942,689.50,838.0
3321,2021-04-30,ADANIPORTS,EQ,746.75,739.00,759.45,724.50,726.40,730.05,743.35,12600934,9.366911e+14,132141.0,3514692,0.2789,689.50,837.0

In [8]:
#The Formula Of %K Line

df['%K'] = ((df['Close'] - df['Lowest Low']) / (df['Highest High'] - df['Lowest Low'])) * 100

In [9]:
df['%K'].tail(15)

3307    72.795086
3308    73.058359
3309    31.200980
3310    23.730493
3311    33.292049
3312    35.843448
3313    14.734927
3314    12.333511
3315    24.705882
3316    18.337596
3317    21.099744
3318    30.511509
3319    29.028133
3320    38.552189
3321    27.491525
Name: %K, dtype: float64

## Default Smoothing Period Is 3

In [10]:
smoothing_period = 3
df['%D'] = df['%K'].rolling(window=smoothing_period).mean()

In [11]:
df['%D'].tail(15)

3307    77.734090
3308    71.676174
3309    59.018142
3310    42.663277
3311    29.407841
3312    30.955330
3313    27.956808
3314    20.970629
3315    17.258107
3316    18.458996
3317    21.381074
3318    23.316283
3319    26.879795
3320    32.697277
3321    31.690616
Name: %D, dtype: float64

In [12]:
print(df[['Date', 'Close', '%K', '%D']].tail(15))

            Date   Close         %K         %D
3307  2021-04-08  823.00  72.795086  77.734090
3308  2021-04-09  823.60  73.058359  71.676174
3309  2021-04-12  744.65  31.200980  59.018142
3310  2021-04-13  731.05  23.730493  42.663277
3311  2021-04-15  750.35  33.292049  29.407841
3312  2021-04-16  755.50  35.843448  30.955330
3313  2021-04-19  720.95  14.734927  27.956808
3314  2021-04-20  720.45  12.333511  20.970629
3315  2021-04-22  737.80  24.705882  17.258107
3316  2021-04-23  725.35  18.337596  18.458996
3317  2021-04-26  730.75  21.099744  21.381074
3318  2021-04-27  749.15  30.511509  23.316283
3319  2021-04-28  746.25  29.028133  26.879795
3320  2021-04-29  746.75  38.552189  32.697277
3321  2021-04-30  730.05  27.491525  31.690616